/* Styles */
body {
}
img{
    border-radius: 50px;
  width: 70px;
  height: 70px;
}
h2{
    font-weight: 200;
    margin: 50px 0;
}
.singleItem{
    text-align: center;
    min-height: 250px;
}
.navbar-nav>li>a{
    padding:30px;
}
/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
